{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "[html]": {
      "editor.defaultFormatter": "vscode.html-language-features"
  },
  "[css]" : {
      "editor.defaultFormatter": "vscode.css-language-features"
  }
}
