<header class="nav-bar">
    <div class="container">
        <div>
            <a routerLink="/" class="button-white">Home</a>
            <ng-container *ngIf="!authenticated">
                <a routerLink="/login" class="button-white">Login</a>
            </ng-container>
            <ng-container *ngIf="authenticated">
                <a routerLink="/login" class="button-white" (click)="logout()"
                    >Logout</a
                >
            </ng-container>
            <ng-container *ngIf="!authenticated">
                <a routerLink="/register" class="button-white">Register</a>
            </ng-container>
        </div>
    </div>
</header>
<canvas id="canvas3d"></canvas>
